<% content_for :title, "Edit episode" %>

  <div class="page">
    <div class="page-header">
      <div>
        <p class="eyebrow">Admin</p>
        <h1>Edit episode</h1>
      </div>
    </div>

  <%= render "form" %>
</div>
